<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.atlas.debug.gdbatlas.core.AtlasLaunchConfigurationDelegate"
            id="org.atlas.debug.gdbatlas.launchDelegate"
            modes="debug"
            name="%launchConfig.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.atlas.debug.gdbatlas.launchConfigurationType">
      </launchDelegate>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.atlas.debug.gdbatlas.core.page2"
            class="org.atlas.debug.gdbatlas.core.pref.AtlasPreferencePage"
            id="org.atlas.debug.gdbatlas.core.preferencePage"
            name="Debug">
      </page>
      <page
            category="org.atlas.debug.gdbatlas.core.page2"
            class="org.atlas.debug.gdbatlas.core.pref.FlashPreferencePage"
            id="org.atlas.debug.gdbatlas.core.preferencePage"
            name="Flash">
      </page>
      <page
            class="org.atlas.debug.gdbatlas.core.pref.MainPreferencePage"
            id="org.atlas.debug.gdbatlas.core.page2"
            name="Atlas">
      </page>
   </extension>
   
   
   
   
   
   
   
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.atlas.debug.gdbatlas.core.pref.FlashPreferenceInitializer">
      </initializer>
   </extension>


</plugin>
