<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            id="org.atlas.debug.gdbatlas.launchConfigurationType"
            modes="debug"
            name="%launchConfig.name"
            public="true">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchDelegates">
      <launchDelegate
            delegate="org.atlas.debug.gdbatlas.core.AtlasLaunchConfigurationDelegate"
            id="org.atlas.debug.gdbatlas.launchDelegate"
            modes="debug"
            name="%launchConfig.name"
            sourceLocatorId="org.eclipse.cdt.debug.core.sourceLocator"
            sourcePathComputerId="org.eclipse.cdt.debug.core.sourcePathComputer"
            type="org.atlas.debug.gdbatlas.launchConfigurationType">
      </launchDelegate>
   </extension>


</plugin>
